.css-ihowzd-MuiBadge-badge{
  background-color: indianred !important;
}
.PhoneInput input {
  outline: none;
  height:100%;
}

/* Image in product detail */
.eotRQP.loaded img {
  height:100% !important;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding:15px 10px !important;
}
