# Ignore node_modules directories in all subfolders
**/node_modules

# Ignore environment variable files
**/.env

# Ignore log files
**/*.log

# Ignore build outputs (if applicable)
**/dist
**/build

# Ignore IDE files
.vscode/
.idea/

# 
